@import "_themes";

$colour-accent: $blue-accent;
$colour-focus: $blue-focus;
$colour-hover: $blue-hover;

$colour-text-primary: #ffffff;
$colour-text-secondary: fade-out($colour-text-primary, 0.3);
$colour-text-disabled: fade-out($colour-text-primary, 0.3);
$colour-text-hover: $colour-hover;
$colour-text-focus: $colour-focus;

$colour-divider: fade-out($colour-text-primary, 0.88);

$colour-ribbon: $colour-accent;
$colour-ribbon-hover: $colour-hover;

$colour-danger: #ef5350;
$colour-success: #66bb6a;

$colour-background: #303030;
$colour-background-darker: #212121;
$colour-background-lighter: #424242;
$hover-percent: 3%;

@function hover($color) {
  @return lighten($color, $hover-percent);
}