$color: #ccc;
$color-active: #FFC107;
$color-hover: #fff;
$background-color: #2e3337;
$background-color-hover: rgba(0, 0, 0, 0.15);
$background-color-darker: #222629;
$background-color-lighter: #383b41;
$border-color-light: #555;
$border-color: darken($background-color, 20%);
$box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

$danger: #EF5350;
$success: #66BB6A;