$blue-accent: #2196F3;
$blue-focus: #448AFF;
$blue-hover: #82B1FF;

$light-blue-accent: #03A9F4;
$light-blue-focus: #40C4FF;
$light-blue-hover: #80D8FF;

$cyan-accent: #00BCD4;
$cyan-focus: #18FFFF;
$cyan-hover: #84FFFF;

$green-accent: #4CAF50;
$green-focus: #69F0AE;
$green-hover: #B9F6CA;

$light-green-accent: #8BC34A;
$light-green-focus: #B2FF59;
$light-green-hover: #CCFF90;

$yellow-accent: #FFEB3B;
$yellow-focus: #FFFF00;
$yellow-hover: #FFFF8D;

$amber-accent: #FFC107;
$amber-focus: #FFD740;
$amber-hover: #FFE57F;

$red-accent: #F44336;
$red-focus: #FF5252;
$red-hover: #FF8A80;

$pink-accent: #E91E63;
$pink-focus: #FF4081;
$pink-hover: #FF80AB;

$purple-accent: #9C27B0;
$purple-focus: #E040FB;
$purple-hover: #EA80FC;

$deep-purple-accent: #673AB7;
$deep-purple-focus: #7C4DFF;
$deep-purple-hover: #B388FF;

$indigo-accent: #3F51B5;
$indigo-focus: #536DFE;
$indigo-hover: #8C9EFF;

$teal-accent: #009688;
$teal-focus: #64FFDA;
$teal-hover: #A7FFEB;

$brown-accent: #795548;
$brown-focus: #BCAAA4;
$brown-hover: #D7CCC8;

$orange-accent: #FF9800;
$orange-focus: #FFAB40;
$orange-hover: #FFD180;

$lime-accent: #CDDC39;
$lime-focus: #EEFF41;
$lime-hover: #F4FF81;

$deep-orange-accent: #FF5722;
$deep-orange-focus: #FF6E40;
$deep-orange-hover: #FF9E80;

$blue-grey-accent: #607D8B;
$blue-grey-focus: #B0BEC5;
$blue-grey-hover: #CFD8DC;

$grey-accent: #9E9E9E;
$grey-focus: #EEEEEE;
$grey-hover: #F5F5F5;