@import "_colours";
@import "_variables";

html, body {
  @include font('medium');
  cursor: default;
  user-select: none;
  overflow: auto;
  background-color: $colour-background;
  color: $colour-text-primary;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.33em;
  height: 0.33em;
}

::-webkit-scrollbar-track {
  background: $colour-background-darker;
}

::-webkit-scrollbar-thumb {
  background: $colour-accent;
}

input, select, button {
  @include font('medium');
  border: 0.0625em solid transparent;
  border-bottom: 0.0625em solid $colour-accent;
  background-color: transparent;
  padding: 0.5em 1em;
  color: $colour-text-primary;
  &:disabled {
    cursor: not-allowed;
  }
  &:hover {
    border-bottom-color: $colour-hover;
  }
  &:focus {
    outline: 0;
    border-bottom-color: $colour-focus;
  }
}

button, input[type=button] {
  cursor: pointer;
  border: none;
  &:hover:enabled {
    background-color: $colour-accent;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  padding: 0.5em 0.5em;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  padding-bottom: 0.5em;
  color: $colour-accent;
  border-bottom: 0.0625em solid $colour-divider;
}

svg {
  fill: $colour-text-primary;
  height: 1em;
}